{{! A handlebars partial for a single cell. }}

{{#if this.cleared}}
    <article class="cell cleared" id="col_{{x}}_row_{{y}}">
{{/if}}
{{#unless this.cleared}}
    <article class="cell" id="col_{{x}}_row_{{y}}">
{{/unless}}
        {{#if this.value}}
        {{#unless this.mine}}
            <p class="cell-text">
                    {{this.value}}
            </p>
            {{/unless}}
        {{/if}}
        {{#if this.flagged}}
            <img src="/flag.png">
        {{/if}}
    </article>
